@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Blog>

@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">
        @await Component.InvokeAsync("LatestBlogPosts",
            new { numberOfPosts = Model.HowManyPostsShouldBeShown, startNodeKey = Model.Key })
    </div>

</section>
